{% extends 'base.html' %}



{% block content %}
<body>

<div class="col-md-4">
        <div class="card">
          <img src="{{ book.photo.url }}" class="card-img-top" alt="Товар 1">
          <div class="card-body">
            <h5 class="card-title">{{ book.name }}</h5>
            <h5 class="card-title">{{ book.author }}</h5>
            <p class="card-text">{{ book.year }}</p>
            <p class="card-text">{{ book.info}}</p>
          </div>
        </div>

    {% if book.photo_2 %}
              <div class="card">
          <img src="{{ book.photo_2.url }}" class="card-img-top" alt="Товар 1">
              </div>
    {% else %}
    {% endif %}

     {% if book.photo_3 %}
            <div class="card">
          <img src="{{ book.photo_3.url }}" class="card-img-top" alt="Товар 1">
     {% else %}
    {% endif %}

     {% if book.photo_4 %}
                <div class="card">
          <img src="{{ book.photo_4.url }}" class="card-img-top" alt="Товар 1">
     {% else %}
    {% endif %}

            </div>

        </div>



      </div>




</body>

{% endblock %}